############################
# NGS DATA (DO NOT UPLOAD)
############################

# Raw data
data/raw/
*.fastq
*.fastq.gz

# Alignment files
*.sam
*.bam
*.bai

# Variant files
*.vcf
*.vcf.gz
*.csi
*.tbi

############################
# RESULTS
############################

results/

############################
# LOGS
############################

logs/
*.log

############################
# SYSTEM FILES
############################

*.tmp
*.swp
.DS_Store

############################
# CONDA / ENV
############################

.env
.conda
